<%= form_for @question do |f| %>
  <div class="form-line">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
  </div>
  <div class="form-box">
  <%= f.label :body %><br>
  <%= f.text_area :body %>
  </div>


  <%= f.submit %>
<%end%>
